@font-face {
  font-family: 'ProbaPro-Light';
  font-display: auto;
  src: url('../assets/public/fonts/ProbaPro/ProbaPro-Light.eot'),
  url('../assets/public/fonts/ProbaPro/ProbaPro-Light.woff') format('woff'),
  url('../assets/public/fonts/ProbaPro/ProbaPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ProbaPro-Light-Italic';
  font-display: auto;
  src: url('../assets/public/fonts/ProbaPro/ProbaPro-LightItalic.eot'),
  url('../assets/public/fonts/ProbaPro/ProbaPro-LightItalic.woff') format('woff'),
  url('../assets/public/fonts/ProbaPro/ProbaPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'ProbaPro-Regular';
  font-display: auto;
  src: url('../assets/public/fonts/ProbaPro/ProbaPro-Regular.eot'),
  url('../assets/public/fonts/ProbaPro/ProbaPro-Regular.woff') format('woff'),
  url('../assets/public/fonts/ProbaPro/ProbaPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProbaPro-Regular-Italic';
  font-display: auto;
  src: url('../assets/public/fonts/ProbaPro/ProbaPro-Italic.eot'),
  url('../assets/public/fonts/ProbaPro/ProbaPro-Italic.woff') format('woff'),
  url('../assets/public/fonts/ProbaPro/ProbaPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'ProbaPro-Medium';
  font-display: auto;
  src: url('../assets/public/fonts/ProbaPro/ProbaPro-Medium.eot'),
  url('../assets/public/fonts/ProbaPro/ProbaPro-Medium.woff') format('woff'),
  url('../assets/public/fonts/ProbaPro/ProbaPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'ProbaPro-Medium-Italic';
  font-display: auto;
  src: url('../assets/public/fonts/ProbaPro/ProbaPro-MediumItalic.eot'),
  url('../assets/public/fonts/ProbaPro/ProbaPro-MediumItalic.woff') format('woff'),
  url('../assets/public/fonts/ProbaPro/ProbaPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ProbaPro-SemiBold';
  font-display: auto;
  src: url('../assets/public/fonts/ProbaPro/ProbaPro-SemiBold.eot'),
  url('../assets/public/fonts/ProbaPro/ProbaPro-SemiBold.woff') format('woff'),
  url('../assets/public/fonts/ProbaPro/ProbaPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ProbaPro-SemiBold-Italic';
  font-display: auto;
  src: url('../assets/public/fonts/ProbaPro/ProbaPro-SemiBoldItalic.eot'),
  url('../assets/public/fonts/ProbaPro/ProbaPro-SemiBoldItalic.woff') format('woff'),
  url('../assets/public/fonts/ProbaPro/ProbaPro-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'ProbaPro-Bold';
  font-display: auto;
  src: url('../assets/public/fonts/ProbaPro/ProbaPro-Bold.eot'),
  url('../assets/public/fonts/ProbaPro/ProbaPro-Bold.woff') format('woff'),
  url('../assets/public/fonts/ProbaPro/ProbaPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProbaPro-Bold-Italic';
  font-display: auto;
  src: url('../assets/public/fonts/ProbaPro/ProbaPro-BoldItalic.eot'),
  url('../assets/public/fonts/ProbaPro/ProbaPro-BoldItalic.woff') format('woff'),
  url('../assets/public/fonts/ProbaPro/ProbaPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-Regular';
  font-display: auto;
  src: url('../assets/public/fonts/Roboto/Roboto-Regular.eot'),
  url('../assets/public/fonts/Roboto/Roboto-Regular.woff') format('woff'),
  url('../assets/public/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  font-display: auto;
  src: url('../assets/public/fonts/Roboto/Roboto-Medium.eot'),
  url('../assets/public/fonts/Roboto/Roboto-Medium.woff') format('woff'),
  url('../assets/public/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  font-display: auto;
  src: url('../assets/public/fonts/Roboto/Roboto-Bold.eot'),
  url('../assets/public/fonts/Roboto/Roboto-Bold.woff') format('woff'),
  url('../assets/public/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}



