$site-backgraund: #ffffff;
$dark-text: #030504;
$light-text: #fff;
$link-hover: #4b88c8;
$light-bg : #fff;
$midtone-text: #bbbecf;
$color-text: #50a0ea;
$white-border: #e1e1e1;
$link-border: #dbeefc;
$more-link: #3c4250;
$midtone-bg: #ffffff;
$header-bg: #ffffff;
$background-color: #ffffff;

$extra-small-fontsize: 12px;
$small-fontsize: 14px;
$normal-fontsize: 16px;
$big-fontsize: 18px;
$extra-large-fontsize: 32px;
$large-fontsize: 24px;
$middle-fontsize: 20px;

$dark-blue: #1c305c;
$light-blue: #4a90e2;
$blue-today-cal: #5793ee;

$blue-dark: #224F91;
$yellow: #FAC12A;
$black: #000000;
$white: #fff;

$wp_green: #859E30;
$wp_green_lt: #EEF3F5;

$box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

//--------Fonts-------

$ProbaProLight: 'ProbaPro-Light', Arial, sans-serif;
$ProbaProLightItalic: 'ProbaPro-Light-Italic', Arial, sans-serif;
$ProbaPro: 'ProbaPro-Regular', Arial, sans-serif;
$ProbaProItalic: 'ProbaPro-Regular-Italic', Arial, sans-serif;
$ProbaProMedium: 'ProbaPro-Medium', Arial, sans-serif;
$ProbaProMediumItalic: 'ProbaPro-Medium-Italic', Arial, sans-serif;
$ProbaProSemiBold: 'ProbaPro-SemiBold', Arial, sans-serif;
$ProbaProSemiBoldItalic: 'ProbaPro-SemiBold-Italic', Arial, sans-serif;
$ProbaProBold: 'ProbaPro-Bold', Arial, sans-serif;
$ProbaProBoldItalic: 'ProbaPro-Bold-Italic', Arial, sans-serif;

$Roboto: 'Roboto-Regular', Arial, sans-serif;
$RobotoMedium: 'Roboto-Medium', Arial, sans-serif;
$RobotoBold: 'Roboto-Bold', Arial, sans-serif;


$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$screen-xs-max: $xl;
$screen-sm-min: $sm;
$screen-md-min: $md;
$screen-lg-min: $lg;

$mobile:  "screen and (max-width: #{$screen-xs-max})";
$tablet:  "screen and (min-width: #{$screen-sm-min})";
$normal:  "screen and (min-width: #{$screen-md-min})";
$wide:    "screen and (min-width: #{$screen-lg-min})";
