#block-heroonmainpage {
  height: 700px;
  .field--name-body {
    margin-top: 300px;
    font-size: 42px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    font-family: "Open Sans";
    text-align: center;

    p {
      background-color: rgba(0, 0, 0, 0.5);
      display: inline;
    }
  }
}
